.input__range-container {
  padding-bottom: 4rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    outline: none;
    width: 250px;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: $primary;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 1.4rem;
    width: 1.4rem;
    margin-top: 0.3rem;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: $primary;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 1.4rem;
    width: 1.4rem;
    margin-top: 0.3rem;
    pointer-events: all;
    position: relative;
  }
}
