@import './variables.scss';

//default swipper custom
.swiper {
  border-radius: 0.125rem;

  &-wrapper {
    .swiper-slide {
      height: auto;
      .product__card {
        height: 100%;
      }
    }
  }

  // Custom button
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    display: none;
  }

  &-button-prev,
  &-button-next {
    width: 40px !important;
    height: 40px !important;

    &::after {
      font-size: 8px !important;
      font-weight: 800;
      color: $gray;
      opacity: 0.5;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &-pagination {
    display: none;
  }

  & .swiper-button-next {
    right: 15px;
    border-radius: 4px 0 0 4px;
  }

  & .swiper-button-prev {
    left: 15px;
    border-radius: 0 4px 4px 0;
  }
}

// custom for advisorlist
.advisor-list{
  .swiper {
    &-button-prev,
    &-button-next {
      &::after {
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    &-pagination {
      display: block;

      &-bullet {
        background-color: black;
      }
    }
  }
}
