$gray: #838080;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$blue-100: #ebf8ff;
$blue-200: #bee3f8;
$blue-300: #90cdf4;
$blue-400: #63b3ed;
$blue-500: #4299e1;
$blue-600: #3182ce;
$blue-700: #2b6cb0;
$blue-800: #2c5282;
$blue-900: #2a4365;
$blue: #2f80ed;

$primary: #00DED1;
$primary-100: #e6fffd;

$background: #fbfbfb;

$black: #000000;
$black-100: rgba(0, 0, 0, 0.1);
$black-400: rgba(0, 0, 0, 0.4);
$black-500: rgba(0, 0, 0, 0.5);
$black-600: rgba(0, 0, 0, 0.6);
$black-700: rgba(0, 0, 0, 0.7);

$white: #ffffff;

$red: #ff3b30;
$red-100: #ffe4e4;
$red-200: #fad4d1;
$red-300: #f8bfba;
$red-400: #f5aaa3;
$red-500: #f3948c;
$red-600: #f07f75;
$red-700: #ee6a5d;
$red-800: #ec5446;
$red-900: #e93f2f;

$text-linear-primary-1st: #231557;
$text-linear-primary-2nd: #44107a;
$text-linear-primary-3rd: #ff1361;
$text-linear-primary-4th: #fff800;

$header_height: 84px;
$header_mobile_height: 84px;

